player-connection-mode=Listen
player-connection-guid=1002756660
player-connection-debug=0
player-connection-project-name=GameDemoTestClient
player-connection-ip=192.168.1.19
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=fd40107c7d7e4926921b540d2ac8eb72
